.course-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 45%; /* Adjust the width as needed */
  box-sizing: border-box;
}

.course-item:hover {
  background-color: #f9f9f9;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.lecturer-name {
  margin-top: 5px;
  font-size: 1rem;
}

.course-description {
  text-align: center;
  margin-top: 10px;
}


.create-course-button {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 45%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #777676;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-course-button:hover {
  background-color: #f9f9f9;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  